html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: 'JetBrains Mono', monospace;
    color: white;
    background: radial-gradient(#484848 2px, black 0);
    background-size: 100px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p.banner {
    margin-top: 32px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

table {
    margin: 0 0 10px;
    border-collapse: collapse;
}

thead, tbody {
    text-align: left;
}

thead {
    background-color: #000000;
    color: white;
    border-bottom: 2px solid white;
}

th {
    font-weight: normal;
    font-size: 16px;
}

tr {
    white-space: nowrap;

}

tbody td:first-child, th:first-child {
    padding-left: 0 !important;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid #4c4c4c;
}

td, th {
    padding: 10px;
}
